# -*- coding: utf-8 -*-
# This constraints file is used to check that lower bounds
# are correct in setup.py
# List all library dependencies and extras in this file.
# Pin the version to the lower bound.
google-cloud-pubsub==2.10.0
grpcio==1.38.1
grpcio-status==1.38.1
overrides==6.0.1
google-api-core==1.33.2
